@model FortuneTellerUpgrade.Models.customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
     
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.Color1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Color1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month.Month1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month.Month1)
        </dd>
 <dt>
            @Html.DisplayNameFor(model => model.NumSibs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumSibs)
        </dd>

            </dl>
    <!--THIS IS THE FORTUNE - need to create viewbags for each component 
        once the logic in the controller is working correctly         -->
    <h3>YOUR FORTUNE</h3>
    <p>You will retire in @ViewBag.NumberYearsToRetirement years!</p>
    <p>You will live in -- </p>
    <p>You will have $--dollars</p>
    <p>You will have a -- for transportation</p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
